/client/node_modules
/server/node_modules
/server/config/keys_dev.js

# /javascripts/bundle.js
/client/javascripts/bundle.js.map

/client/tileset/frames
/client/tileset/crop.py
/client/tileset/tiles_list_v1.3
/client/tileset/0x72_DungeonTilesetII_v1.3.zip