/* Source for font:
https://www.hipsthetic.com/30-best-free-pixel-fonts/
http://www.pentacom.jp/pentacom/bitfontmaker2/gallery/?id=195
*/
@font-face {
    font-family: 'Adventurer';
    src: local('Adventurer'), url('../fonts/Adventurer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Adventurer';
    color: rgb(255, 255, 181);
}

#main {
    /* width: 100%;
    height: 100%; */
    /* display: block; */
    image-rendering: pixelated;
    border: 1px solid rgba(255, 224, 48, 0.493);
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

@keyframes glow {
    0%   {
        text-shadow: 1px 3px 20px rgba(255, 255, 2, 0.281);
    }
    25%  {
        text-shadow: 1px 3px 20px rgba(255, 255, 0, 0.808);
    }
    50%  {
        text-shadow: 1px 3px 20px rgba(255, 255, 0, 0.753);
    }
    75%  {
        text-shadow: 1px 3px 20px rgb(255, 255, 0);
    }
    100% {
        text-shadow: 1px 3px 20px rgba(255, 255, 0, 0.233);
    }
}

.glow-text {
    animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

h1 {
    font-size: 75px;
    text-align: center;
    text-shadow: 1px 3px 20px rgba(255, 255, 0, 0.747);

    padding-bottom: 10px;
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 5px;

    border-image-source: linear-gradient(to right,  #d53a9c13, #fbff23, #f36b10, #733ad534);

    
}



/*  CANVAS   */
.game-wrapper {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.game-info-header {
    position: absolute;
    /* display: flex;
    justify-content: space-between; */
    top: 16px;
    /* left: 48px; */
    font-size: 25px;

    width: 100%;
}

.left-info, .right-info {
    display: inline-block;
}

.left-info {
    width: 75%;
}

.right-info {
    float: right;
    width: 25%;
    /* background-color: transparent; */
}

.play-toggle-label {
    background-color: transparent;
    
    cursor: pointer;
    
    padding-left: 20px;
    border: none;
}

.play-toggle-label input {
    display: none;
}

.game-info-header span {
    display: inline-block;
    padding-left: 10%;
}

.difficulty-label {
    padding-left: 5%;
}

.difficulty-select {
    font-size: 25px;
    background-color: black;
    
    border: 1px solid gray;
    margin-left: 2%;

    cursor: pointer;
}

.difficulty-select:disabled {
    cursor: default;
}

.music-toggle, .sound-toggle {
    background-color: transparent;
    font-size: 25px;
    float: right;
    
    padding-right: 20px;
    border: none;

    cursor: pointer;
}

/* .restart-btn {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    background-color: transparent;
    font-size: 75px;

    height: 100px;
    width: 300px;
    border: none;
    margin: -50px 0 0 -150px;

    cursor: pointer;
} */



/*   INSTRUCTIONS  */
.instructions {
    padding-bottom: 50px;
}

h2 {
    font-size: 45px;
    text-align: center;
}

p {
    font-size: 25px;
    text-align: center;
}





/* leaderboard */
.leaderboard-wrapper {
    padding-bottom: 25px;
}

.leaderboard-radio-wrapper {
    /* display: inline-block; */
    width: fit-content;
    margin: 0 auto;
}

.leaderboard-difficulty-radio {
    display: none;
}

.leaderboard-difficulty-radio + label {
    opacity: 0.75;
    font-size: 20px;

    padding: 0 10px;
    
    cursor: pointer;
}

.leaderboard-difficulty-radio:checked + label {
    opacity: 1;
}

.leaderboard li {
    display: none;
}

.leaderboard li:nth-child(-n+3) {
    display: block;
}

.maximize li {
    display: block;
}

.leaderboard li {
    list-style-type: none;
    font-size: 20px;
    padding: 10px 0;
}
.leaderboard span {
    display: inline-block;
    width: 20%;
    padding-left: 13%;
}

.expand-button {
    display: block;
    background-color: transparent;
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.expand-button:hover {
    background-color: rgb(20, 20, 20);
}

.arrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
}

.arrow-up {
  transform: rotate(-135deg) translate(-5px, -5px);
  -webkit-transform: rotate(-135deg) translate(-5px, -5px);
}

.arrow-down {
  transform: rotate(45deg) translate(-5px, -5px);
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
}



/* highscore modal */
.highscore-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.349);
}

.highscore-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(36, 36, 36);
    text-align: center;
    
    width: 30%;
    height: fit-content;
    max-width: 600px;
    max-height: 400px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 8px;
}

.highscore-modal input[type=text] {
    display: inline-block;
    background-color: rgba(36, 36, 36, 0.507);
    font-size: 25px;
    
    width: 50%;
    border: 1px solid gray;
}

.btns-wrapper {
    padding-top: 10px;
}

.exit-btn, .submit-btn {
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.exit-btn {
    color: rgba(255, 255, 255, 0.774);
}

.submit-btn {
    color: white;
}

.hidden {
    display: none;
}